section{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 3px solid black;
    transition: 1s;
    transition-duration: 3s;
    transition-property: background-color;
    transition-property: border-radius;
    /* transition-delay: 2s; */

}

section:hover{
    border-radius: 50%;
    background-color: blue;
}

article{
    margin: 20px;
    background-color: burlywood;
    border: 2px solid black;
}

article div{
    width:50px;
    height:50px;
    background-color: blue;
    border: 2px solid black;
    margin: 20px;
    transition:2s;
}
article:hover div{
   margin-left: 400px;
}


.div1{
    transition-timing-function: linear;
}
.div2{
    transition-timing-function: ease;
}
.div3{
    transition-timing-function: ease-in;
}
.div4{
    transition-timing-function: ease-out;
}
.div5{
    transition-timing-function: ease-in-out;
}