* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border-top: 6px solid red;
    background: url(https://cuiet.codebrigade.in/images/Chitkara_University_pic.jpg) no-repeat center center fixed;
    background-size: cover;
}

.header{
    margin-left: 1150px;
    position: fixed;
    top: 0;
}
.form{
    background-color: white;
    padding-left:20px;
    padding-top:20px;
    /* /* margin-top: 80px; */
    margin-inline-end: 5px;
    float: right;
    padding-right: 100px;
    margin-bottom: 8px; 
    padding-right:30px;
    width: 285px;
    height: 550px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
.head1{
    padding-left: 20px;
    display: block;
}

label,select{
    display: block;
}

button {
    width: 220px;
    height: 37px;
    background-color: red;
    color: white;
}

input[type="text"]:hover input[type="number"]:hover{
    border: 1px solid black;
}

input {
    width: 225px;
    height: 23px;
}

.remember {
    width: 13px;
    height: 13px;
}
.remember:hover {
    cursor: pointer;
}

select {
    width: 225px;
    height: 23px;
}
.hover {
    cursor: pointer;
}

.form {
    position: fixed;
    top: 87px;
    right: 260px;
}

a, .remember{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
}

input:has {
    background-color: blue;
}

.privacy {
    color: #2E5B87;
    text-decoration: underline;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

span {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.space1 {
    height: 20px;
}
.space2 {
    height: 12px;
}

.abc {
    height: 5px;
}
.ten {
    height: 8px;
}
.two {
    height: 2px;
}
.fourteen {
    height: 14.4px;
}
.apple {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.span {
    align-items: center;
}